body::-webkit-scrollbar {
    display: none;
}

.h1 {
    color: white;
}

.app {
    background: #152d3d;
    padding: 30px;
    height: 100vh;
}

.items {
    display: flex;
    flex-direction: column;
    background: #d18686;
    border-radius: 4px;
    padding: 5px;
}

.item {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 13px 10px;
    font-size: 22px;
    font-weight: bold;
}

.item-detail {
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    margin-bottom: 15px;
    padding: 13px 10px;
    font-size: 22px;
    font-weight: bold;
}
